<html>
  <head>
    <title>Pepper Game</title>
  </head>
  <style>
    div {
    text-align: center;
    border: 20px solid black;
    width: 90%;
    height: 85%;}
    p {
    font-family: "Monaco", "Courier New", monospace;
    font-size: 50px;
    }
    button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
  </style>
  <body>
    <div>
      <p> Welcome {{ name }} </p>
      <form method="post" action="/">
	<button type="submit" name="button" value="start">Start</button>
      </form>
    </div>
  </body>
<html>
